<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
    <link rel="stylesheet" th:href="@{/styles/mystyle.css}">
</head>
<body>
    <a href="/customer/createForm" th:href="@{/customer/createForm}">Create new customer</a>

    <ul th:each="customer: ${customers}">
        <li>
            <h2 th:text="${customer.name}"></h2>
            <p th:text="${customer.email}"></p>

            <p th:if="${customer.gender == 'm'}" th:text="man"></p>
            <p th:unless="${customer.gender == 'm'}" th:text="female"></p>
        </li>
    </ul>
</body>
</html>