<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login example</title>
</head>
<body>
    <h1>Log in</h1>

    <form action="#" th:action="@{/login}" th:object="${user}" method="post">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}">
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>

  </form>
</body>
</html>